@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

.link {
  padding: 0.3em;
  border-radius: 1em;
  border: 2px solid rgb(204, 204, 204);
}

.link:hover {
  background-color: rgb(233, 233, 233);
  transition: all;
  transition-duration: 100ms;
}